#Container-full {
    background-color: #fe8a19;

}

#bodyText {
    background-color: #FCFCFC;
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1600px;
}


.cNav {
    background-color: #fe8a19;
}

.btnav {
    position: relative;
    padding-bottom: 3px;
}

.btnav::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.btnav:hover::after {
    width: 100%;
}

#title {
    font-family: 'Poppins', sans-serif;
    font-size: 2.9rem;
    font-weight: 900;
    margin-bottom: 30px;
    position: relative;
}

#subTitle{
     font-family: 'Poppins', sans-serif;
    font-size: 2.0rem;
    font-weight: 900;
    margin-bottom: 30px;
    position: relative;

}

#subTitle strong {
    font-weight: 600;
    color: #fe8a19;
}

#title strong {
    font-weight: 600;
    color: #fe8a19;
}

.cBody {

    font-family: 'Poppins', sans-serif;
    margin-bottom: 8%;
    margin-top: 2%;
    background-color: #FCFCFC;
    border-radius: 10px;
    padding: 2%;

}

.btn {
    background-color: #fe8a19;
    border: 0px;
    margin-top: 15%;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;

}
#linkPass{
    color: white;
}


.btn:hover {
    background-color: #ff9d3b;
    border: 0;
  
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    transform: translateY(-5px);
    transition: 0.8s;
   
}
.btn-vibra{
        animation: vibra 0.9s infinite;
        color: #ffffff;

}


@keyframes vibra {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-8px);
    }
    60% {
        transform: translateY(-4px);
    }
}

#line {
 
    text-decoration-color: #000000;
    text-decoration-thickness: 0.0002rem;
    text-underline-offset: 6px;
    font-family: 'Poppins', sans-serif;
    background: #fff;
    padding: 25px 30px;
    border-radius: 12px;
    border: 1px solid #eee;
    max-width: 950px;
    margin: 0 auto;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.08);
    line-height: 1.7;
    font-weight: 600;
    font-size: 19px;

}

.texto {
    background: #fff;
    padding: 25px 30px;
    border-radius: 12px;
    border: 1px solid #eee;
    max-width: 950px;
    margin: 0 auto;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.08);
    line-height: 1.7;
    font-size: 1.05rem;
}
#textoCard{
    font-size: 1.9rem;
    font-weight: 500;
    padding: 2%;
  
}

.blocoCard {
    margin-top: 8%;
}

.cards {
    box-shadow: 0px 15px 25px rgba(165, 77, 0, 0.37);
    display: flex;
    
}


.card {
    box-shadow: 0px 25px 20px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: stretch;
    border: solid 1px #fe8a19;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 4px 12px rgba(255, 222, 222, 0.25);
    transition: 0.3s;
    transform: translateY(-10px);
    transition: 0.4s;


}
.card img {
    height: 160px;
    object-fit: contain;
    padding: 10px;
}

#ListContato{
   
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    font-size: large;
    list-style: none;


}


.dropdown-menu .dropdown-item:hover {
    background-color: rgba(128, 86, 31, 0.15) ;
    
}



#carouselModulos .carousel-inner {
    overflow: visible;
}

#carouselModulos .carousel-item {
    transition: transform 0.6s ease;
}

#carouselModulos .card {
    transform: scale(0.9);
    opacity: 0.5;
    transition: 0.4s;
}


#carouselModulos .carousel-item.active .card {
    transform: scale(1);
    opacity: 1;
}

.btn-top-fixed {
    position: fixed;
    top: -290px;
    right: 50px;
    z-index: 9999;
    padding: 15px 18px;
    border-radius: 50px;
    margin-bottom: 99%;
}

#msg{
    position: fixed;
    bottom: 20px;
    right: 15px;
    width: 400px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
 
}
#msgAberta{
    position: fixed;
    bottom: 20px;
    right: 25px;
    width: 400px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}

#msg h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

#horas {
    font-size: 11px;
    color: #2c2c2c;
}